
article {
  border-color: lightblue;
  border-width: 1px; 
  border-style: solid; 
  max-width: 30%;
  float: left;
  margin: 1%;
}

h1 {
  border-color: lightgray;
  border-width: 1px;
  border-style: dotted;
  text-align: center;
  margin-top: 0px;
}

header {
  font-weight: bold;
  text-align: left;
}

ul {
  font-weight: bold;
}

img {
  height: 280px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto 
}

label {
  border-color: darkgray;
  border-style: solid;
  background-color: darkgray;
  color: yellow; 
}

div {
  text-justify: left;
  padding-left: 10px;   
}

footer {
  font-size: .75em;
}


